.what_we_are {
  width: 50%;
  margin: 0 auto;
  color: #1c1c1b;
  font-family: Oswald;
  border: 9px solid rgb(28, 28, 27, 0.5);
  padding-bottom: 30px;
  
  

  &__header {
    text-align: center;
    text-transform: uppercase;
    padding: 3% 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 75px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4.8px;
  }

  &__img{
    height: 60px;
      background: url('../img/Logos.png') no-repeat center;
      background-size: contain;
  }
}
